<h1>{{title}}</h1>
<p>{{1+1}}</p>
<!-- =================================================== -->
<!-- property binding  -->
<!-- ==================================================== -->
<img [src]="imgURL" alt="">
<button disabled="{{isdisabled}}">disable button using string interpolation</button>
<!-- //best practice -->
<button [disabled]="isdisabled">disable button using property binding</button> 
<!--==========================================-->
<!-- class binding  -->
 <!--==========================================-->
 <h1>class binding</h1>

<button [class.active]="isActive"
        [class.no-active]="!isActive"
        >class binding</button>
<button [class.apple]=" fruitName == 'apple' ">fruit ninja(class binding)</button>

<!--==========================================-->
<!-- style binding -->
 <!--==========================================-->
 <h1>style binding</h1>

<button [style.background]="isActive?'purple' : 'orange'">style binding</button>
<!--so basically this means the style background should be purple if isactive is true. like an if else statement, if it is active,*(?) then bg should be purpme else(:) make it orange-->


<!--==========================================-->
<!-- multiple anglar style binding -->
 <!--==========================================-->
 <h1>multiple style binding</h1>
 <button
    [style.backgroundColor]="isActive ? 'pink' : 'orange'"
    [style.border]="isActive ? '3px solid red' : '3px solid green'"
>
  Multiple style binding
</button>

<!--==========================================-->
<!-- event binding -->
 <!--==========================================-->
 <hr>
 <h1>event binding</h1>
 <button (click)="buttonClick()" >click event(event binding)</button>
 <button (mouseover)="buttonMouseover()" >mouseover event(event binding)</button>
 <input type="text" (keyup)="keyPressed()">
 <h3>event filtering</h3>
 <input type="text" (keyup)="keyEnter($event)" placeholder="enter key(13) is pressed/filtered"> 
 <!-- another method of key filtering/event filtering -->
 <input type="text" (keyup.a)="keyupFiltering()">
 <input type="text" (keyup.enter)="keyupFiltering()">
<h1>template vsariable</h1>
<input type="text" (keyup.enter)="keyFiltering(user)" #user id="userInput">

<h1>2 way data binding</h1>
 <input type="text" [value]="userName" #username (keyup.enter)="updateusername(username)">

 <input type="text" [(ngModel)]="userName2">
 <h3>{{userName2}}</h3>

 <h1>ANGULAR DIRECTIVES</h1>
 <h2>COMPONENTS DIRECTIVES</h2>
  
 <h2>STRUCTURAL DIRECTIVES</h2>